.message {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 15px;
  justify-content: space-between;
}
.message > p {
  background-color: #e2e2e2;
  font-size: medium;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  margin-right: auto;
}
.message > small {
  position: absolute;
  color: gray;
  font-size: 8px;
  right: 0;
  bottom: -5px;
}
.message__sender {
  margin-left: auto;
}
.message__sender > .message__photo {
  order: 1;
  margin: 16px;
}
.message__photo {
  order: 0;
}
.message__sender > p {
  background-color: rgb(111, 184, 226);
  color: #fff;
}
